<div
  class="bg-black/90 fixed top-0 left-0 w-full h-[calc(100vh)]"
  (click)="onClose()"
></div>
<dialog
  class="w-9/10 max-w-[500px] bg-my-purple-500 rounded-md shadow-md overflow-hidden p-4 top-20 mx-auto"
  open
>
  <h2 class="text-my-grey text-xl font-bold mb-2">Add Task</h2>
  <form class="flex flex-col items-start gap-y-3" (ngSubmit)="onSubmit()">
    <div class="w-full flex flex-col items-start gap-y-2">
      <label class="text-my-grey text-sm" for="title">Title</label>
      <input
        class="w-full h-9 bg-[#d0c2e1] text-sm p-2 rounded-sm"
        type="text"
        id="title"
        name="title"
        [(ngModel)]="enteredTitle"
      />
    </div>

    <div class="w-full flex flex-col items-start gap-y-2">
      <label class="text-my-grey text-sm" for="summary">Summary</label>
      <textarea
        class="w-full h-36 bg-[#d0c2e1] text-sm p-2 rounded-sm"
        id="summary"
        rows="5"
        name="summary"
        [(ngModel)]="enteredSummary"
      ></textarea>
    </div>

    <div class="w-full flex flex-col items-start gap-y-2">
      <label class="text-my-grey text-sm" for="due-date">Due Date</label>
      <input
        class="w-full h-9 bg-[#d0c2e1] text-sm p-2 rounded-sm"
        type="date"
        id="due-date"
        name="due-date"
        [(ngModel)]="enteredDate"
      />
    </div>

    <div class="self-end flex flex-row gap-x-3 items-center mb-3">
      <button
        class="px-6 py-1 bg-transparent cursor-pointer hover:text-[#d0c2e1] active:text-[#d0c2e1] rounded-md transition-all ease-in duration-100"
        type="button"
        (click)="onClose()"
      >
        Cancel
      </button>
      <button
        class="px-6 py-1 cursor-pointer bg-[#9c73ca] hover:bg-[#895cce] active:bg-[#895cce] text-my-black rounded-md transition-all ease-in duration-100"
        type="submit"
      >
        Create
      </button>
    </div>
  </form>
</dialog>
